:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root{
  min-height: 100vh;
  min-height: 100dvh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Game {
  border-radius: 10px;
  border: 2px solid #fff;
  width: calc(100% - 20px);
  max-width: 1280px;
  max-height: 768px;
  height: calc(100vh - 20px);
  height: calc(100dvh - 20px);
  background-color: #5d5d5d;
}
