.Lobby {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;

  & .history{
    font-weight: 900;
    color: #49aceb;
  }
  & .buttons_container{
    display: flex;
    gap: 1em;
  }

  & select{
    width: 105px;
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
    padding: 0 0 0 5px;
    margin-left: 1em;
    font-size: 1em;
    font-weight: 700;
    color: #49aceb;
    text-align: center;
    &:nth-child(1){

    }
  }
  & label{
    font-weight: 700;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & span{
      text-decoration: underline;
    }
  }
}

/** Created by carlos on 28/12/2022 */